html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, cite, code, img, ins, q, s, samp, small, strike,
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: #333333; }

table {
  border-spacing: 0; }

a {
  color: #339900;
  text-decoration: none; }
  a:hover {
    color: #226600; }

.right {
  text-align: right; }

.column {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px; }

.grid {
  background: url("image/grid.png"); }

.content {
  padding: 0 0 12px 0; }
  .content h1 {
    font: normal 36px/48px "Varela Round", Georgia, serif;
    padding: 36px 0 24px 0; }
    .content h1 a {
      color: #333333; }
  .content h2 {
    font: normal 24px/48px "Varela Round", Georgia, serif;
    color: #333333; }
  .content h3 {
    font: italic 18px/24px "Varela Round", Georgia, serif;
    color: #333333;
    padding: 12px 0; }
  .content p {
    font: normal 16px/24px Georgia, serif;
    padding: 12px 0; }
  .content ol, .content ul {
    margin-left: 24px; }
  .content li {
    font: normal 16px/24px Georgia, serif; }
  .content a, .content a code {
    color: #339900; }
    .content a:hover, .content a code:hover {
      color: #226600; }
  .content code {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f1f5f0;
    padding: 2px 4px;
    color: #606260;
    font: 15px/20px Courier, monospace; }
  .content pre {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f1f5f0;
    margin: 6px 0;
    padding: 6px 12px;
    color: #606260;
    font: 14px/24px Courier, monospace;
    overflow: auto; }
    .content pre code {
      padding: 0; }
  .content tt {
    font: 15px/20px Courier, monospace;
    color: #606260; }
  .content blockquote {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f0f1f5;
    color: #8592ad;
    padding: 6px 12px;
    margin: 6px 0; }
    .content blockquote p {
      font: italic 16px/24px Georgia, serif; }
      .content blockquote p:first-child {
        padding-top: 0; }
      .content blockquote p:last-child {
        padding-bottom: 0; }
  .content .cite {
    font: normal 13px/24px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #8592ad;
    display: block;
    text-align: right;
    padding: 12px 24px 12px 0; }
    .content .cite:before {
      content: '\2014\00A0'; }
  .content blockquote.update {
    background: #fff3db;
    color: #b88a2e; }
    .content blockquote.update p {
      font: normal 13px/24px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .content blockquote.update a {
      color: #b37700; }
      .content blockquote.update a:hover {
        color: #805500; }
  .content img {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: inherit;
    display: block;
    padding: 6px;
    margin: 6px auto; }
    .content img.framed {
      background: #f0f0f0; }
  .content .table {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f0f0f0;
    padding: 6px;
    margin: 6px 0; }
  .content table {
    width: 100%;
    border-collapse: collapse;
    color: #585858; }
    .content table td {
      font: normal 16px/24px Georgia, serif;
      padding: 0 6px; }
    .content table thead td {
      color: #999999;
      font: bold 14px/24px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .content table tbody tr:nth-child(odd) {
      background: #f7f7f7; }

.post-box {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #f0f0f0;
  padding: 6px 12px;
  margin: 6px 0; }
  .post-box h2 {
    font: normal 16px/24px "Varela Round", Georgia, serif;
    color: #333333;
    padding: 0; }
  .post-box p {
    font: normal 12px/24px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0; }

.post-box + .post-box {
  margin-top: 12px; }

.comments {
  width: 100%;
  background: #dbdbdb;
  font: normal 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .comments .column {
    padding: 24px 0; }
    .comments .column a.dsq-subscribe-email em, .comments .column a.dsq-subscribe-rss em {
      text-decoration: none; }

.nav {
  background: #404040;
  color: #888888;
  font: normal 12px/18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%; }
  .nav a {
    color: #bbbbbb; }
  .nav a:hover {
    color: #85d65c; }
  .nav code {
    font: 14px Courier, monospace; }
  .nav h1 {
    font: normal 20px "Varela Round", Courier, monospace;
    color: #666666;
    padding: 12px 0;
    text-transform: lowercase; }
  .nav ol, .nav ul {
    margin-left: 12px;
    padding-bottom: 12px; }
  .nav li {
    margin-left: 6px; }
  .nav p {
    padding-bottom: 12px; }
  .nav small {
    color: #666666; }

.nav.top {
  height: 48px; }

.nav.bottom .column {
  max-width: 648px; }
.nav.bottom table {
  width: 100%;
  border-spacing: 24px; }
  .nav.bottom table td {
    width: 33%;
    vertical-align: top; }

img.rss {
  vertical-align: middle;
  padding-bottom: 3px; }

.dsq-comment-text blockquote {
  padding-left: 16px;
  color: #777; }

.highlight .c, .highlight .c1, .highlight .cm {
  color: #a8aba8; }
.highlight .k {
  color: #339900; }
.highlight .kd {
  color: #009900; }
.highlight .kt {
  color: #009999; }
.highlight .o {
  color: #3d748f; }
.highlight .nb {
  color: #009980; }
.highlight .nc {
  color: #009999; }
.highlight .p {
  color: #8b8e8b; }
.highlight .s, .highlight .sc {
  color: #cc8800; }
.highlight .m, .highlight .mf {
  color: #0088cc; }
