$serif: 'PT Serif', Georgia, serif;
$sans:  'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$mono:  'Source Code Pro', Courier, monospace;

$body-text:        16px/24px $serif;

$text-color:       #222;

$link:             hsl(200, 100%, 30%);
$link-hover:       hsl(200, 100%, 50%);
$link-light:       hsl(200, 100%, 70%);

$code-bg:          hsl(200, 30%, 97%);
$code-color:       hsl(200, 25%, 25%);

$quote-color:      mix($text-color, #fff, 60%);
$cite-color:       mix($text-color, #fff, 40%);

$nav-bg:           hsl(35, 40%, 90%);
$nav-text:         hsl(35, 40%, 60%);
$nav-title:        hsl(35, 60%, 70%);
$nav-text-small:   mix($nav-bg, $nav-text, 50%);
$nav-link:         hsl(35, 60%, 50%);
$nav-hover:        hsl(35, 80%, 70%);

$comments-bg:      hsl(35, 50%, 95%);
$comments-color:   hsl(35, 40%, 40%);

$box-bg:           hsl(200, 50%, 97%);

$update-bg:        hsl(35, 100%, 96%);
$update-color:     hsl(35, 40%, 55%);
$update-link:      hsl(35, 90%, 45%);
$update-hover:     hsl(35, 100%, 30%);

$table-color:      mix($box-bg, $text-color, 20%);
$table-head-color: hsl(200, 30%, 60%);
$table-alt-bg:     hsl(200, 50%, 99%);

@mixin box($color) {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: $color;
}

// Reset everything:

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, cite, code, figure, img, ins, q, s, samp, small, strike,
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: $text-color;
}

table {
  border-spacing: 0;
}

a {
  text-decoration: none;
}

// Basic layout:

.right {
  text-align: right;
}

.column {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px;
}

// Post content:

.content {
  padding: 0 0 12px 0;

  h1 {
    font: normal 32px/40px $serif;
    font-weight: 700;
    padding: 24px 0 0 0;

    a {
      color: $text-color;
    }

    code {
      background: inherit;
      color: $code-color;
      font: 36px $mono;
    }
  }

  h2 {
    font: normal 22px $serif;
    padding-top: 12px;
    font-weight: 700;

    code {
      background: inherit;
      color: $code-color;
      font: 20px $mono;
      font-weight: 700;
      padding: 0;
    }
  }

  h3 {
    font: italic 19px/24px $serif;
    padding: 12px 0 0 0;
  }

  h4 {
    font: 12px $sans;
    padding: 12px 0 18px 0;
  }

  a {
    color: $link;
  }

  a:hover {
    color: $link-hover;
  }

  p {
    font: $body-text;
    padding: 8px 0;
  }

  p + p {
    padding-top: 12px;
  }

  ol, ul {
    margin-left: 24px;
  }

  li {
    font: $body-text;
  }

  a, a code {
    color: $link;

    &:hover {
      color: $link-hover;
    }
  }

  code {
    @include box($code-bg);
    padding: 1px 3px;
    color: $code-color;
    font: 15px/18px $mono;
  }

  pre {
    @include box($code-bg);
    margin: 6px 0;
    padding: 6px 12px;
    color: $code-color;
    overflow: auto;

    code {
      padding: 0;
      font: 13px/18px $mono;
    }
  }

  tt {
    font: 13px/18px $mono;
    color: $code-color;
  }

  blockquote {
    color: $quote-color;
    padding: 0 24px;

    p {
      font: italic $body-text;

      strong {
        font-weight: 600;
      }
    }
  }

  .cite {
    font: italic 13px/24px $sans;
    color: $cite-color;
    display: block;
    text-align: right;
    margin-top: 0;
    padding: 0 24px 12px 0;

    &:before {
      content: '\2014\00A0';
    }
  }

  .update {
    @include box($update-bg);
    padding: 0 12px;
    color: $update-color;

    p {
      font: 13px/22px $sans;
    }

    code {
      background: mix($update-bg, $code-color, 92%);
      font-size: 13px/22px;
    }

    a {
      color: $update-link;

      &:hover {
        color: $update-hover;
      }
    }
  }

  img {
    @include box(inherit);
    display: block;
    padding: 6px;
    margin: 6px auto;

    &.framed {
      background: $box-bg;
    }
  }

  figure {
    @include box($box-bg);
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto;
    width: 100%;

    img {
      border-radius: 0;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    figcaption {
      color: $cite-color;
      font: 13px $sans;
      margin-top: 10px;
    }
  }

  .table {
    @include box($box-bg);
    padding: 6px;
    margin: 6px 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: $table-color;

    td {
      font: $body-text;
      padding: 0 6px;
    }

    thead {
      td {
        color: $table-head-color;
        font: 13px/24px $sans;
        font-weight: 600;
      }
    }

    tbody tr:nth-child(odd) {
      background: $table-alt-bg;
    }
  }

  .social {
    margin: 12px 0;
  }
}

// The comment area:

.comments {
  width: 100%;
  background: $comments-bg;
  color: $comments-color;
  font: normal 13px $sans;

  .column {
    padding: 24px 24px;

    a.dsq-subscribe-email em, a.dsq-subscribe-rss em {
      text-decoration: none;
    }
  }

  a {
    color: $nav-link;
    text-decoration: none;
  }

  a:hover {
    color: $nav-hover;
  }
}

.dsq-comment-text blockquote {
  padding-left: 16px;
  color: #777;
}

// The top and bottom navigation:

.nav {
  background: $nav-bg;
  color: $nav-text;
  font: normal 12px/18px $sans;

  a {
    color: $nav-link;
  }

  a:hover {
    color: $nav-hover;
  }

  code {
    font: 14px $mono;
  }

  h1 {
    font: normal 13px $sans;
    color: $nav-title;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
  }

  ol, ul {
    margin-left: 12px;
    padding-bottom: 12px;
  }

  li {
    margin-left: 6px;
  }

  p {
    padding-bottom: 12px;
  }

  small {
    color: $nav-text-small;
  }

  width: 100%;
}

.nav.bottom {
  padding: 24px 0;

  table {
    width: 100%;

    td {
      width: 50%;
      vertical-align: top;
    }

    td.l {
      padding-right: 12px;
    }

    td.r {
      padding-left: 12px;
    }
  }
}

img.rss {
  vertical-align: middle;
  padding-bottom: 3px;
}

// The little box for each post on post list pages:

.post-box {
  @include box($box-bg);
  padding: 6px 12px;
  margin: 6px 0;

  h2 {
    font: normal 16px/24px $serif;
    padding: 0;
  }

  p {
    font: normal 12px/24px $sans;
    padding: 0;
  }
}

.post-box + .post-box {
  margin-top: 12px;
}

// Syntax highlighting:

.highlight {
  span.c,
  span.c1,
  span.cm  { color: mix($code-bg, $code-color, 50%); } // comment
  span.k   { color: hsl(200, 100%, 40%); } // keyword
  span.kd  { color: hsl(190, 100%, 35%); } // keyword declaration
  span.kt  { color: hsl(180, 100%, 30%); } // keyword type
  span.o   { color: hsl(200, 40%, 40%); } // operator
  span.nb  { color: hsl(170, 100%, 30%); } // built-in name
  span.nc  { color: hsl(180, 100%, 30%); } // class name
  span.p   { color: mix($code-bg, $code-color, 30%); } // punctuation
  span.s,
  span.sc  { color: hsl(35, 100%, 40%); } // string
  span.m,
  span.mf  { color: hsl(200, 100%, 40%); } // number
  span.cp  { color: hsl(300, 50%, 50%); } // preprocessor
}


// On small mobile devices, shrink the text and code, mainly so that the code
// fits on screen:

@media only screen and (max-width: 479px) {
  .content {
    h1 {
      font: normal 30px/40px $serif;
      code {
        font: 30px $mono;
      }
    }

    h2 {
      font: normal 20px $serif;
      code {
        font: 18px $mono;
      }
    }

    h3 {
      font: italic 18px/20px $serif;
    }

    h4 {
      font: 10px $sans;
    }

    p {
      font: normal 14px/20px $serif;
      padding: 8px 0;
    }

    p + p {
      padding-top: 12px;
    }

    ol, ul {
      margin-left: 12px;
    }

    li {
      font: normal 14px/20px $serif;
    }

    code {
      font: 12px/16px $mono;
    }

    pre {
      code {
        font: 11px/14px $mono;
      }
    }

    tt {
      font: 11px/14px $mono;
    }

    blockquote {
      p {
        font: italic 14px/20px $serif;
      }
    }

    .cite {
      font: italic 12px/20px $sans;
    }

    .update {
      p {
        font: 12px/20px $sans;
      }
    }

    table {
      td {
        font: normal 14px/20px $serif;
      }

      thead {
        td {
          font: 12px/20px $sans;
        }
      }
    }
  }
}