html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, cite, code, figure, img, ins, q, s, samp, small, strike,
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: #222222; }

table {
  border-spacing: 0; }

a {
  text-decoration: none; }

.right {
  text-align: right; }

.column {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px; }

.content {
  padding: 0 0 12px 0; }
  .content h1 {
    font: normal 32px/48px "Radley", Georgia, serif;
    font-weight: 700;
    padding: 24px 0 0 0; }
    .content h1 a {
      color: #222222; }
    .content h1 code {
      background: inherit;
      color: #304550;
      font: 36px "Source Code Pro", Courier, monospace; }
  .content h2 {
    font: normal 20px "Radley", Georgia, serif;
    padding-top: 12px;
    font-weight: 700; }
    .content h2 code {
      background: inherit;
      color: #304550;
      font: 20px "Source Code Pro", Courier, monospace;
      font-weight: 700;
      padding: 0; }
  .content h3 {
    font: italic 18px/24px "Radley", Georgia, serif;
    padding: 12px 0 0 0; }
  .content h4 {
    font: 12px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 6px 0 18px 0; }
  .content a {
    color: #006699; }
  .content a:hover {
    color: #00aaff; }
  .content p {
    font: 16px/24px "Radley", Georgia, serif;
    padding: 8px 0; }
  .content p + p {
    padding-top: 12px; }
  .content ol, .content ul {
    margin-left: 24px; }
  .content li {
    font: 16px/24px "Radley", Georgia, serif; }
  .content a, .content a code {
    color: #006699; }
    .content a:hover, .content a code:hover {
      color: #00aaff; }
  .content code {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #f5f8fa;
    padding: 2px 4px;
    color: #304550;
    font: 14px/18px "Source Code Pro", Courier, monospace; }
  .content pre {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #f5f8fa;
    margin: 6px 0;
    padding: 6px 12px;
    color: #304550;
    overflow: auto; }
    .content pre code {
      padding: 0;
      font: 13px/18px "Source Code Pro", Courier, monospace; }
  .content tt {
    font: 13px/18px "Source Code Pro", Courier, monospace;
    color: #304550; }
  .content blockquote {
    color: #7a7a7a;
    padding: 0 24px; }
    .content blockquote p {
      font: italic 16px/24px "Radley", Georgia, serif; }
      .content blockquote p strong {
        font-weight: 600; }
  .content .cite {
    font: italic 13px/24px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #a6a6a6;
    display: block;
    text-align: right;
    margin-top: 0;
    padding: 0 24px 12px 0; }
    .content .cite:before {
      content: '\2014\00A0'; }
  .content .update {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff7eb;
    padding: 0 12px;
    color: #b87e2e; }
    .content .update p {
      font: 13px/22px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .content .update code {
      background: #eee8de;
      font-size: 13px/22px; }
    .content .update a {
      color: #ff9500; }
      .content .update a:hover {
        color: #ffbf66; }
  .content img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: inherit;
    display: block;
    padding: 6px;
    margin: 6px auto; }
    .content img.framed {
      background: #f4f9fb; }
  .content figure {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #f4f9fb;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto;
    width: 100%; }
    .content figure img {
      border-radius: 0;
      padding: 0;
      margin: 0;
      width: 100%; }
    .content figure figcaption {
      color: #a6a6a6;
      font: 13px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      margin-top: 10px; }
  .content .table {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #f4f9fb;
    padding: 6px;
    margin: 6px 0; }
  .content table {
    width: 100%;
    border-collapse: collapse;
    color: #4c4d4d; }
    .content table td {
      font: 16px/24px "Radley", Georgia, serif;
      padding: 0 6px; }
    .content table thead td {
      color: #7aa3b8;
      font: 13px/24px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-weight: 600; }
    .content table tbody tr:nth-child(odd) {
      background: #fbfdfe; }
  .content .social {
    margin: 12px 0; }

.comments {
  width: 100%;
  background: #f9f3ec;
  color: #8f6d3d;
  font: normal 13px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .comments .column {
    padding: 24px 24px; }
    .comments .column a.dsq-subscribe-email em, .comments .column a.dsq-subscribe-rss em {
      text-decoration: none; }
  .comments a {
    color: #cc8c33;
    text-decoration: none; }
  .comments a:hover {
    color: #f0bd75; }

.dsq-comment-text blockquote {
  padding-left: 16px;
  color: #777; }

.nav {
  background: #f0e7db;
  color: #c2a070;
  font: normal 12px/18px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%; }
  .nav a {
    color: #cc8c33; }
  .nav a:hover {
    color: #f0bd75; }
  .nav code {
    font: 14px "Source Code Pro", Courier, monospace; }
  .nav h1 {
    font: normal 13px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #e0ba85;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block; }
  .nav ol, .nav ul {
    margin-left: 12px;
    padding-bottom: 12px; }
  .nav li {
    margin-left: 6px; }
  .nav p {
    padding-bottom: 12px; }
  .nav small {
    color: #d9c3a5; }

.nav.bottom {
  padding: 24px 0; }
  .nav.bottom table {
    width: 100%; }
    .nav.bottom table td {
      width: 50%;
      vertical-align: top; }
    .nav.bottom table td.l {
      padding-right: 12px; }
    .nav.bottom table td.r {
      padding-left: 12px; }

img.rss {
  vertical-align: middle;
  padding-bottom: 3px; }

.post-box {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #f4f9fb;
  padding: 6px 12px;
  margin: 6px 0; }
  .post-box h2 {
    font: normal 16px/24px "Radley", Georgia, serif;
    padding: 0; }
  .post-box p {
    font: normal 12px/24px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0; }

.post-box + .post-box {
  margin-top: 12px; }

.highlight span.c,
.highlight span.c1,
.highlight span.cm {
  color: #929ea5; }
.highlight span.k {
  color: #0088cc; }
.highlight span.kd {
  color: #0095b3; }
.highlight span.kt {
  color: #009999; }
.highlight span.o {
  color: #3d748f; }
.highlight span.nb {
  color: #009980; }
.highlight span.nc {
  color: #009999; }
.highlight span.p {
  color: #6b7a83; }
.highlight span.s,
.highlight span.sc {
  color: #cc7700; }
.highlight span.m,
.highlight span.mf {
  color: #0088cc; }
.highlight span.cp {
  color: #bf40bf; }

@media only screen and (max-width: 479px) {
  .content h1 {
    font: normal 30px/40px "Radley", Georgia, serif; }
    .content h1 code {
      font: 30px "Source Code Pro", Courier, monospace; }
  .content h2 {
    font: normal 20px "Radley", Georgia, serif; }
    .content h2 code {
      font: 18px "Source Code Pro", Courier, monospace; }
  .content h3 {
    font: italic 18px/20px "Radley", Georgia, serif; }
  .content h4 {
    font: 10px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .content p {
    font: normal 14px/20px "Radley", Georgia, serif;
    padding: 8px 0; }
  .content p + p {
    padding-top: 12px; }
  .content ol, .content ul {
    margin-left: 12px; }
  .content li {
    font: normal 14px/20px "Radley", Georgia, serif; }
  .content code {
    font: 12px/16px "Source Code Pro", Courier, monospace; }
  .content pre code {
    font: 11px/14px "Source Code Pro", Courier, monospace; }
  .content tt {
    font: 11px/14px "Source Code Pro", Courier, monospace; }
  .content blockquote p {
    font: italic 14px/20px "Radley", Georgia, serif; }
  .content .cite {
    font: italic 12px/20px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .content .update p {
    font: 12px/20px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .content table td {
    font: normal 14px/20px "Radley", Georgia, serif; }
  .content table thead td {
    font: 12px/20px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif; } }
