@use 'sass:color';

// Fonts =======================================================================

// I only use a couple of font stacks throughout the site to keep things nice
// and consistent.

$serif: 'Petrona', Georgia, serif;
$sans:  'Asap', 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$mono:  'IBM Plex Mono', Courier, monospace;

// TODO: Use these in more places.
$col:                     64px;
$row:                     32px;

// Colors ======================================================================

// The various nested elements like code inside a blockquote are hand authored
// instead of doing a single semi-transparent color for code and allowing it to
// blend with whatever it's behind because this gives us better control and
// nicer colors.

@function ink($percent) {
  @return color.mix(hsl(30, 60%, 10%), hsl(40, 10%, 90%), $percent);
}

@function ink-dk($percent) {
  @return color.mix(hsl(210, 20%, 80%), hsl(210, 20%, 10%), $percent);
}

$body-bg-lt:              ink(0%);
$body-bg-dk:              ink-dk(0%);
$body-bg:                 light-dark($body-bg-lt, $body-bg-dk);

$text-color-lt:           ink(100%);
$text-color-dk:           ink-dk(100%);
$text-color:              light-dark($text-color-lt, $text-color-dk);

$link-color:              light-dark(ink(80%), ink-dk(70%));
$link-line:               light-dark(ink(40%), ink-dk(40%));
$link-hover:              light-dark(hsl(10, 90%, 40%), hsl(340, 70%, 50%));

$line-color:              light-dark(ink(20%), ink-dk(30%));

$pane-bg-lt:              ink(8%);
$pane-bg-dk:              ink-dk(10%);
$pane-bg:                 light-dark($pane-bg-lt, $pane-bg-dk);

$pane-border:             light-dark(ink(25%), ink-dk(7%));
$pane-text:               light-dark(ink(80%), ink-dk(60%));
$pane-code-bg:            light-dark(ink(15%), ink-dk(15%));

$pane-figure-bg:          light-dark(
                            color.mix($pane-bg-lt, white, 50%),
                            color.mix($pane-bg-dk, black, 50%),
                          );

$code-bg-lt:              ink(5%);
$code-bg-dk:              ink-dk(5%);
$code-bg:                 light-dark($code-bg-lt, $code-bg-dk);

$code-color-lt:           ink(80%);
$code-color-dk:           ink-dk(80%);
$code-color:              light-dark($code-color-lt, $code-color-dk);

$aside-border:            light-dark(ink(20%), ink-dk(20%));
$aside-color:             light-dark(ink(70%), ink-dk(60%));

$figure-bg-lt:            color.mix($body-bg-lt, white, 50%);
$figure-bg-dk:            color.mix($body-bg-dk, black, 80%);
$figure-bg:               light-dark($figure-bg-lt, $figure-bg-dk);

$figure-color:            light-dark(
                            color.mix($text-color-lt, $figure-bg-lt, 60%),
                            color.mix($text-color-dk, $figure-bg-dk, 40%),
                          );
$figure-code-bg:          light-dark(
                            color.mix($code-bg-lt, $figure-bg-lt, 60%),
                            color.mix($code-bg-dk, $figure-bg-dk, 60%),
                          );
$figure-code-color:       light-dark(
                            color.mix($code-color-lt, $figure-bg-lt, 70%),
                            color.mix($code-color-dk, $figure-bg-dk, 70%),
                          );

$quote-bg:                $figure-bg;
$quote-color:             light-dark(ink(80%), ink-dk(80%));
$quote-code-bg:           light-dark(ink(0%), ink-dk(5%));

$update-bg-lt:            hsl(40, 50%, 87%);
$update-bg-dk:            hsl(40, 20%, 20%);
$update-bg:               light-dark($update-bg-lt, $update-bg-dk);
$update-border:           light-dark(hsl(40, 50%, 75%), hsl(40, 20%, 35%));
$update-color:            light-dark(hsl(40, 30%, 40%), hsl(40, 20%, 60%));
$update-link-color-lt:    hsl(40, 70%, 45%);
$update-link-color-dk:    hsl(40, 60%, 50%);
$update-link-color:       light-dark($update-link-color-lt, $update-link-color-dk);
$update-link-line:        light-dark(
                            color.mix($update-link-color-lt, $update-bg-lt, 50%),
                            color.mix($update-link-color-dk, $update-bg-dk, 50%),
                          );
$update-link-hover:       light-dark(hsl(40, 90%, 40%), hsl(40, 90%, 60%));
$update-code-bg:          light-dark(hsl(40, 40%, 83%), hsl(40, 20%, 25%));
$update-code-color:       light-dark(hsl(20, 20%, 50%), hsl(40, 20%, 50%));
$update-quote-bg:         light-dark(hsl(40, 50%, 92%), hsl(40, 20%, 15%));
$update-quote-color:      light-dark(hsl(40, 20%, 45%), hsl(40, 10%, 50%));
$update-quote-code-bg:    light-dark(hsl(40, 40%, 84%), hsl(40, 20%, 20%));
$update-quote-code-color: light-dark(hsl(40, 20%, 50%), hsl(40, 20%, 50%));

$comments-bg:             light-dark(ink(4%), ink-dk(4%));

// Enable light-dark().
:root {
  color-scheme: light dark;
}

.grid {
  background: url("/image/grid2.png");
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// Layout.

body {
  margin: 0 32px;
  background-color: $body-bg;
  color: $text-color;
  font: 19px/32px $serif;
}

main {
  max-width: $col * 16;
  margin: 0 auto;
  position: relative; // For the grid.
}

header, footer {
  color: $pane-text;
  background-color: $pane-bg;
  font: 15px/24px $mono;
}

header {
  position: relative;
  margin: 0;
  padding: 30px 8px 6px 8px;

  border-top: 4px solid $pane-border;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .about {
    position: absolute;
    right: 8px;
  }
}

footer {
  position: relative;
  margin: 32px 0 0 0;
  padding: 16px;

  border-bottom: 4px solid $pane-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  code {
    background-color: $pane-code-bg;
  }

  figure {
    position: absolute;
    margin: 0;
    width: $col * 4 - 32;
    top: 16px;
    right: 16px;
    background-color: $pane-figure-bg;
  }

  a {
    text-decoration: underline $link-line;
  }

  p {
    margin: 0 $col * 5 24px 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

nav, .post-thread {
  display: flex;
  justify-content: space-between;

  height: $row - 13;
  margin: 0 0 ($row + 10px) 0;
  padding: 6px 0;

  color: $line-color;
  border-bottom: solid 1px $line-color;
  font: 14px/16px $mono;
}

nav {
  // By default, don't show the non-sidebar thread links.
  .thread-narrow { display: none; }
}

.post-thread {
  position: absolute;
  width: $col * 4;
  top: $row * 9;
  right: 0;
}

article {
  position: relative;
  width: $col * 11;

  // Scale down to match the serif font's metrics.
  p code {
    font-size: 87%;
    line-height: 24px;
  }
}

// Main text styles.

a {
  color: $link-color;
  text-decoration: none;
  // Make sure <code> inside a link doesn't override the link color.
  code { color: $link-color; }
}

a:hover {
  color: $link-hover;
  text-decoration: underline $link-hover;
  // Make sure <code> inside a link doesn't override the link color.
  code { color: $link-hover; }
}

p {
  margin: 0;

  // Underlines on links in the body text.
  a { text-decoration: underline $link-line; }
}

p + p, aside + p, ul + p, ol + p, p + ul, p + ol {
  margin-top: 16px;
}

code {
  padding: 1px 3px;

  background-color: $code-bg;
  color: $code-color;
  border-radius: 3px;

  white-space: pre; // Don't split inside inline code.
  font-family: $mono;
}

h1 {
  margin: 0;
  padding: 18px 0 14px 0;
  width: 100%;
  height: $row * 6;
  display: table-cell;
  vertical-align: middle;

  font: 46px/64px $serif;
}

h2 {
  margin: 24px 0 8px 0;
  padding: 11px 0 5px 0;
  font: 500 28px/48px $sans;
  .anchor { padding-top: 21px; }
}

h3 {
  margin: 32px 0 16px 0;
  padding: 13px 0 3px 0;
  font: italic 500 23px/32px $sans;
  .anchor { padding-top: 11px; }
}

h2 .anchor, h3 .anchor {
  position: absolute;
  left: $col * 12;
  width: $col * 4;
  font: 14px/16px $mono;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: $line-color;
  &:hover {
    color: $link-hover;
  }
}

ol, ul {
  position: relative;
  margin: 0 0 0 32px;
  padding: 0;
  list-style-type: none;
}

ol {
  counter-reset: item;
}

ol li::before { 
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: -32px;
}

ul li::before {
  content: "●";
  position: absolute;
  left: -32px;
  font-size: 80%;
}

li + li {
  margin-top: 16px;
}

pre {
  margin: 10px 0 8px 0;
  padding: 11px 8px;
  overflow: auto;

  background-color: $code-bg;
  color: $code-color;
  border-radius: 3px;

  font: 15px/24px $mono;

  &.language-asciiart { font: 15px/20px $mono; }
}

blockquote {
  position: relative;
  padding: 17px 16px 12px 16px;
  margin: 15px 0 20px 16px;

  background: $quote-bg;
  color: $quote-color;
  border-radius: 3px;

  font-style: italic;

  &:before {
    content: '\0000a0';
    position: absolute;
    width: 0;
    height: 0;
    left: -16px;
    top: 24px;
    border-bottom: 16px solid transparent;
    border-right: 16px solid $quote-bg;
  }

  code { background: $quote-code-bg; }
}

blockquote.cited {
  margin-left: 0;

  &:before {
    left: auto;
    top: auto;
    bottom: -16px;
    right: 64px;
    border-bottom: none;
    border-right: none;
    border-left: 16px solid transparent;
    border-top: 16px solid $quote-bg;
  }
}

.cite {
  text-align: right;
  font-style: italic;

  // Em dash.
  &:before { content: '\2014\00A0'; }
}  

// Update box:
.update {
  margin: 19px 0 24px 0;
  padding: 12px 15px 7px 15px;

  border-radius: 3px;
  border: solid 1px $update-border;
  background-color: $update-bg;
  color: $update-color;

  strong {
    font-weight: 600;
  }

  p {
    font: 17px/32px $sans;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    background: $update-code-bg;
    color: $update-code-color;
    // Scale back up to match the sans metrics.
    font-size: 100%;
  }

  a, a code {
    color: $update-link-color;
    text-decoration: underline $update-link-line;
    &:hover {
      color: $update-link-hover;
      text-decoration: underline $update-link-hover;
    }
  }

  blockquote {
    background: $update-quote-bg;
    color: $update-quote-color;

    &:before {
      border-right-color: $update-quote-bg;
      border-top-color: $update-quote-bg;
    }

    code {
      background: $update-quote-code-bg;
      color: $update-quote-code-color;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid $line-color;
  color: $line-color;
  overflow: visible;
  text-align: center;
  padding: 0;
  margin: 29px 0 1px 0;

  &:after {
    background: $body-bg;
    font-size: 20px;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -16px;
  }
}

// TODO: Only the ancient "Debunking" post uses a table, so not bothering with
// particularly nice style for now.
table {
  width: 100%;
  margin: 0 0 16px 0;

  border-radius: 3px;
  background-color: $code-bg;

  thead {
    font-weight: bold;
  }

  td {
    padding: 0 4px;
  }
}

// Image frames:
figure {
  display: block;
  box-sizing: border-box;
  margin: 22px 0 26px 0;
  padding: 16px;
  width: 100%;

  background-color: $figure-bg;
  border-radius: 3px;
  color: $figure-color;

  img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  figcaption, label, input, output {
    margin-top: 14px;
    font: 16px/24px $sans;

    code {
      background-color: $figure-code-bg;
      color: $figure-code-color;
    }
  }

  // Sliders are strangely shifted up, so move them down a bit.
  input[type="range"] {
    position: relative;
    top: 5px;
    margin: 0 8px;
  }

  &.wide { width: $col * 16; }
}

canvas {
  display: block;
  width: 100%;
  max-width: 100%;
  background: $code-bg;
}

iframe {
  display: block;
  max-width: 100%;
}

// Asides:
aside {
  position: absolute;
  width: $col * 4;
  right: $col * -5;

  font: 15px/24px $sans;

  &:before {
    position: absolute;
    top: 1px;
    left: -41px;
    font: 15px $mono;
    content: '>>';
    color: $line-color;
  }

  // Scale code back up to match the sans font.
  p code { font-size: 100%; }

  // p + p, ul + p, ol + p, p + ul, p + ol {
  //   margin-top: 24px;
  // }
}

aside.bottom:before {
  top: auto;
  bottom: 2px;
}

// Archive page:
table.archive {
  width: 100%;
  border-collapse: collapse;
  background-color: inherit;

  thead td {
    padding: 10px 0 0 0;
    height: $row - 12;

    color: $line-color;
    border-bottom: solid 1px $line-color;
    font: 14px/16px $mono;
  }

  td {
    margin: 0;
    padding: 0;
  }

  tbody tr:hover {
    background-color: $code-bg;
  }

  tbody tr:first-child td {
    padding-top: 43px;
  }

  td.date, td.tags {
    font-size: 14px;
    font-family: $mono;    
  }

  td.date {
    width: $col * 2;
  }

  td.tags {
    width: $col * 5;
    padding-left: 16px;
  }

  tr + tr.year td {
    padding-top: 16px;
  }
}

// Syntax highlighting:
.highlight {
  // Punctuation.
  span.p {
    color: light-dark(
      color.mix($body-bg-lt, $code-color-lt, 30%),
      color.mix($body-bg-dk, $code-color-dk, 30%),
    );
  }

  // Number.
  span.n { color: light-dark(hsl(10, 70%, 55%), hsl(10, 50%, 50%)); }

  // String.
  span.s { color: light-dark(hsl(30, 100%, 35%), hsl(30, 50%, 50%)); }

  // String escape.
  span.e { color: light-dark(hsl(40, 80%, 45%), hsl(40, 60%, 45%)); }

  // Field.
  span.f { color: light-dark(hsl(100, 50%, 40%), hsl(80, 60%, 35%)); }

  // Type name.
  span.t { color: light-dark(hsl(180, 100%, 25%), hsl(180, 80%, 35%)); }

  // Markup tag.
  span.g { color: light-dark(hsl(180, 100%, 25%), hsl(180, 80%, 35%)); }

  // Operator.
  span.o { color: light-dark(hsl(210, 30%, 45%), hsl(210, 35%, 50%)); }

  // Keyword.
  span.k { color: light-dark(hsl(210, 60%, 45%), hsl(210, 60%, 50%)); }

  // Attribute/annotation.
  span.a { color: light-dark(hsl(270, 70%, 65%), hsl(280, 70%, 60%)); }

  // Preprocessor.
  span.r { color: light-dark(hsl(300, 40%, 45%), hsl(290, 35%, 50%)); }

  // Comment.
  span.c {
    color: light-dark(
      color.mix($body-bg-lt, $code-color-lt, 50%),
      color.mix($body-bg-dk, $code-color-dk, 50%),
    );
  }

  // "Blue" functions.
  span.blue { color: light-dark(hsl(220, 100%, 55%), hsl(220, 80%, 55%)); }
  // "Red" functions.
  span.red { color: light-dark(hsl(5, 100%, 45%), hsl(5, 70%, 50%)); }

  // Metasyntax.
  span.x {
    font-style: italic;
    color: light-dark(
      color.mix($body-bg-lt, $code-color-lt, 30%),
      color.mix($body-bg-dk, $code-color-dk, 30%),
    );
    background-color: light-dark(
      color.mix($body-bg-lt, $code-color-lt, 95%),
      color.mix($body-bg-dk, $code-color-dk, 95%),
    );
  }

  // Unrecognized syntax. Make it look bad so that I notice.
  span.u {
    background-color: hsl(5, 100%, 90%);
    color: hsl(5, 100%, 35%);
  }
}


// The comment area:
.comments {
  margin: 48px 0 32px 0;
  padding: 16px;

  border-radius: 3px;
  background: $comments-bg;
  font: normal 15px $sans;

  a.dsq-subscribe-email em, a.dsq-subscribe-rss em { text-decoration: none; }
  a { color: $link-color; }
  a:hover { color: $link-hover; }
}

.dsq-comment-text blockquote {
  padding-left: 16px;
  color: #777;
}

.post-box {
  display: table;

  .date {
    display: table-cell;
    font: 13px $sans;
    width: 96px;
  }

  .title {
    display: table-cell;
    padding: 0;
    font: 15px/24px $serif;
  }
}

.post-box + h4 {
  margin-top: 24px;
}

// Get rid of the sidebar column.
@media only screen and (max-width: 1088px) {
  // Make the article full-width.
  article { width: auto; }

  // Show the previous/next links in the main column.
  nav .thread-narrow { display: inline; }
  .post-thread { display: none; }

  // Show the asides inline.
  aside {
    position: relative;
    width: auto;
    right: auto;

    margin: 32px 0;
    color: $aside-color;
    padding-left: 8px;
    border-left: solid 4px $aside-border;

    &:before { content: none; }
  }

  // Hide the header anchor links.
  h2 .anchor, h3 .anchor { display: none; }

  figure.wide { width: auto; }

  // Put the photo of me above the footer text.
  footer {
    p { margin: 0 0 24px 0; }
    figure {
      position: relative;
      display: block;
      margin-bottom: 24px;
      top: auto;
      right: auto;
    }
  }
}

// On small screens, shrink the margins and tighten things up.
@media only screen and (max-width: 768px) {
  // Tighten the margins.
  body {
    margin: 0 16px;
  }

  // Get rid of the padding around the header, footer, and comments.
  header, footer {
    border-radius: 0;
  }

  header {
    margin: 0 -24px;
    padding: 30px 24px 6px 24px;

    a { display: block; }

    .about {
      position: relative;
      right: auto;
    }
  }

  footer {
    margin: 0 -24px;
    padding: 24px;
  }

  .comments {
    margin: 0 -24px;
    padding: 24px;
  }

  // Split the date and tags onto separate lines so they don't collide.
  nav {
    display: block;
    height: 51px;

    .date {
      display: block;
      padding-bottom: 16px;
    }
    .tags { display: block; }
  }
}
