  <div class="social">
    <a href="//www.reddit.com/submit?url=http://journal.stuffwithstuff.com{{ post.url | escape }}/" target="_blank">
      <i class="fa fa-lg fa-reddit-square"></i>
    </a>

    <a href="//news.ycombinator.com/submitlink?u=http://journal.stuffwithstuff.com{{ post.url | escape }}/&amp;t={{ post.title | escape }}" target="_blank">
      <i class="fa fa-lg fa-hacker-news"></i>
    </a>

    <a href="http://twitter.com/share?url=http://journal.stuffwithstuff.com{{ post.url | escape }}&amp;text=%22{{ post.title | escape }}%22%20%40munificentbob" target="_blank">
      <i class="fa fa-lg fa-twitter-square"></i>
    </a>

    <a href="http://www.facebook.com/share.php?u=http://journal.stuffwithstuff.com{{ post.url | escape }}" target="_blank">
      <i class="fa fa-lg fa-facebook-square"></i>
    </a>

    <a href="https://plus.google.com/share?url=http://journal.stuffwithstuff.com{{ post.url | escape }}" target="_blank">
      <i class="fa fa-lg fa-google-plus-square"></i>
    </a>

    <a href="/rss.xml">
      <i class="fa fa-lg fa-rss-square"></i>
    </a>
  </div>

  {% if site.disqus %}
  <div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus }}';
        var disqus_url = "http://journal.stuffwithstuff.com{{ post.url | escape }}";

        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  {% endif %}
</article>
