/* Global style variables */
/* Generic functionality */
/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, cite, code, img, ins, q, s, samp, small, strike,
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

table {
  border-spacing: 0; }

a {
  text-decoration: none; }

ol, ul {
  margin-left: 24px; }

/* Text styles */
/* TODO:
   - Edit insert boxes
   - Tables
*/
body {
  background: white;
  color: #333333; }

/* Site layout */
/*
.overlay {
  position: absolute;
  background: url('24.png');
  width: 100%;
  height: 10000px;
  z-index: 3;
  opacity: 0.5;
}
*/
.right {
  text-align: right; }

.column {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px; }

.header {
  height: 48px;
  width: 100%;
  background: #444444; }
  .header h1 {
    font: normal 20px "Varela Round", Courier, monospace;
    color: #666666;
    padding: 12px 0; }
  .header a {
    color: #bbbbbb; }
  .header a:hover {
    color: #eeeeee; }

.content {
  padding: 0 0 12px 0; }
  .content .column {
    background: #fff; }
  .content h1 {
    font: normal 36px/48px "Varela Round", Georgia, serif;
    color: #333333;
    padding: 36px 0 24px 0; }
  .content h2 {
    font: normal 24px/48px "Varela Round", Georgia, serif;
    color: #333333; }
  .content h3 {
    font: italic 18px/24px "Varela Round", Georgia, serif;
    color: #333333;
    padding: 12px 0; }
  .content p {
    font: normal 16px/24px Georgia, serif;
    padding: 12px 0; }
  .content li {
    font: normal 16px/24px Georgia, serif; }
  .content a, .content a code {
    color: #009966;
    text-decoration: none; }
  .content a:hover {
    color: #006644; }
  .content code {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #eeeeee;
    border-radius: 4px;
    font-family: Courier, monospace;
    color: #555555;
    overflow: auto;
    padding: 1px 3px;
    font: 15px/20px Courier, monospace; }
  .content pre {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #eeeeee;
    border-radius: 4px;
    font-family: Courier, monospace;
    color: #555555;
    overflow: auto;
    padding: 12px;
    font: 14px/24px Courier, monospace; }
    .content pre code {
      padding: 0;
      font-size: 14px; }
  .content tt {
    font: 15px/20px Courier, monospace;
    color: #555555; }
  .content blockquote {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: white;
    padding: 0 12px;
    margin: 0; }
    .content blockquote p {
      color: #444444;
      font: italic 16px/24px Georgia, serif; }
  .content .cite {
    font: italic 14px/24px Georgia, serif;
    color: #777777;
    display: block;
    text-align: right;
    padding: 12px 24px 0 0; }
    .content .cite:before {
      content: '\2014\00A0'; }
  .content blockquote.update {
    background: #fff3db;
    border: solid 2px #fff; }
    .content blockquote.update p {
      font-style: normal;
      color: #d6ad5c; }
    .content blockquote.update a {
      color: #cc8800; }
    .content blockquote.update a:hover {
      color: #996600; }
  .content img {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #fff;
    display: block;
    padding: 12px;
    margin: 0 auto; }
  .content .table {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #fff;
    padding: 12px; }
  .content table {
    width: 100%;
    border-collapse: collapse; }
    .content table thead td {
      color: #888;
      font: bold 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      padding: 0 0 8px 0; }
    .content table td {
      font: normal 16px/24px Georgia, serif; }
    .content table tr + tr {
      border-top: solid 1px #eee; }

.comments {
  width: 100%;
  background: #eee; }
  .comments .column {
    padding: 24px 0;
    font: normal 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .comments .column a.dsq-subscribe-email em, .comments .column a.dsq-subscribe-rss em {
      text-decoration: none; }
    .comments .column a {
      color: #009966; }
    .comments .column a:hover {
      color: #006644; }

.bottom {
  width: 100%;
  padding: 0;
  background: #444444; }
  .bottom code {
    font: 14px Courier, monospace; }
  .bottom .column {
    max-width: 660px; }
  .bottom table {
    width: 100%;
    border-spacing: 10px; }
    .bottom table td {
      width: 33%;
      text-align: left;
      vertical-align: top;
      color: #888888;
      font: normal 12px/18px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .bottom table h1 {
      font: normal 20px "Varela Round", Courier, monospace;
      text-transform: lowercase;
      padding: 12px 0;
      color: #666666; }
    .bottom table h2 {
      font: bold 14px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .bottom table h2, .bottom table p, .bottom table ul {
      padding: 0 0 10px 0; }
  .bottom a {
    color: #bbbbbb; }
  .bottom a:hover {
    color: #eeeeee; }

.codehilite .c, .codehilite .c1, .codehilite .cm {
  color: #a1a1a1; }
.codehilite .k {
  color: #009966; }
.codehilite .kd {
  color: #009966; }
.codehilite .kt {
  color: #009999; }
.codehilite .nc {
  color: #009999; }
.codehilite .p {
  color: #828282; }
.codehilite .s, .codehilite .sc {
  color: #cc8800; }
.codehilite .m {
  color: #995cd6; }
