/* Global style variables */

$lucida:              'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$georgia:             Georgia, serif;
$shanti:              'Shanti', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$helvetica:           'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
$varela:              'Varela Round', sans-serif;

$header:              $varela;
$serif:               $georgia;
$sans:                $lucida;
$monospace:           Courier, monospace;

$header-color:        #333;
$h1-color:            $header-color;
$h2-color:            $header-color;
$h3-color:            $header-color;
$h4-color:            $header-color;

$content-bg:          #f0f0f0;
$text-color:          #333;

$link:                hsl(160, 100%, 30%);
$link-hover:          hsl(160, 100%, 20%);

$tag-color:           #888;
$tag-bg:              mix($content-bg, $text-color, 90%);

$code-bg:             #fff;
$code-color:          #555;

$quote-bg:            #fff;
$quote-color:         #444;
$quote-color-light:   lighten($quote-color, 20%);

$nav-title:           #666;
$nav-bg:              #444;
$nav-text:            #888;
$nav-link:            #bbb;
$nav-hover:           #eee;

$pad:                 24px;

@mixin code {
  @include rounded;
  background:     $code-bg;
  border-radius:  4px;
  font-family:    $monospace;
  color:          $code-color;
  overflow:       auto;
}

/* Generic functionality */

@mixin rounded($radius: 6px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, cite, code, img, ins, q, s, samp, small, strike,
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

table {
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ol, ul {
  margin-left: 24px;
}

/* Text styles */

/* TODO:
   - Edit insert boxes
   - Tables
*/

body {
  background: $content-bg;
  color: $text-color;
}

/* Site layout */

.right {
  text-align: right;
}

.column {
  max-width: 640px;
  margin: 0 auto;
}

.header {
  height: 48px;
  width: 100%;
  background: $nav-bg;

  h1 {
    font: normal 20px $varela;
    color: $nav-title;
    padding: 12px 0;
  }

  a {
    color: $nav-link;
  }

  a:hover {
    color: $nav-hover;
  }
}

.content {
  margin: 0 auto;
  padding: 0 0 10px 0;
  max-width: 640px;

  h1 {
    font: normal 36px/48px $header;
    color: $h1-color;
    padding: 36px 0 23px 0;
  }

  h2 {
    font: normal 24px/24px $header;
    color: $h2-color;
    padding: 12px 0;
  }

  h3 {
    font: normal 18px/24px $header;
    color: $h3-color;
    padding: 12px 0;
  }

  p {
    font: normal 16px/24px $serif;
    padding: 12px 0;
  }

  li {
    font: normal 16px/24px $serif;
    padding: 0;
    margin: 0;
  }

  a, a code {
    color: $link;
    text-decoration: none;
  }

  a:hover {
    color: $link-hover;
  }

  code {
    @include code;
    padding: 1px 3px;
    font: 15px/20px $monospace;
  }

  pre {
    @include code;
    padding: 12px;
    font: 14px/20px $monospace;

    code {
      padding: 0;
      font-size: 14px;
    }
  }

  tt {
    font: 15px/20px $monospace;
    color:          $code-color;
  }

  blockquote {
    @include rounded;
    background: $quote-bg;
    padding: 0 12px;
    margin: 0;

    p {
      color: $quote-color;
      font: italic 16px/24px $serif;
    }
  }

  .cite {
    font: italic 14px/24px $serif;
    color: $quote-color-light;
    display: block;
    text-align: right;
    padding: 12px 24px 0 0;

    &:before {
      content: '\2014\00A0';
    }
  }

  blockquote.update {
    background: hsl(40, 100%, 93%);
    border: solid 2px #fff;

    p {
      font-style: normal;
      color: hsl(40, 60%, 60%);
    }

    a {
      color: hsl(40, 100%, 40%);
    }

    a:hover {
      color: hsl(40, 100%, 30%);
    }
  }

  img {
    @include rounded;
    background: #fff;
    display: block;
    padding: 12px;
    margin: 0 auto;
  }

  .table {
    @include rounded;
    background: #fff;
    padding: 12px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      td {
        color: #888;
        font: bold 14px $sans;
        padding: 0 0 8px 0;
      }
    }

    td {
      font: normal 16px/24px $serif;
    }

    tr + tr {
      border-top: solid 1px #eee;
    }
  }
}

.comments {
  width: 100%;
  background: #fff;

  .column {
    padding: 24px 0;
    font: normal 13px $sans;

    a.dsq-subscribe-email em, a.dsq-subscribe-rss em {
      text-decoration: none;
    }

    a {
      color: $link;
    }

    a:hover {
      color: $link-hover;
    }
  }
}

.bottom {
  width: 100%;
  padding: 0;
  background: $nav-bg;

  code {
    font: 14px $monospace;
  }

  .column {
    max-width: 660px; // extra 10px on each side to absorb border spacing
  }

  table {
    width: 100%;
    border-spacing: 10px;

    td {
      width: 33%;
      text-align: left;
      vertical-align: top;
      color: $nav-text;
      font: normal 12px/18px $sans;
    }

    h1 {
      font: normal 20px $varela;
      text-transform: lowercase;
      padding: 12px 0;
      color: $nav-title;
    }

    h2 {
      font: bold 14px/20px $sans;
    }

    h2, p, ul {
      padding: 0 0 10px 0;
    }
  }

  a {
    color: $nav-link;
  }

  a:hover {
    color: $nav-hover;
  }
}

// Syntax highlighting
.codehilite {
  .c, .c1, .cm { color: mix($code-bg, $code-color, 50%); } // comment
  .k           { color: hsl(160, 100%, 30%); } // keyword
  .kd          { color: hsl(160, 100%, 30%); } // keyword declaration
  .kt          { color: hsl(180, 100%, 30%); } // keyword type
  .nc          { color: hsl(180, 100%, 30%); } // class name
  .p           { color: mix($code-bg, $code-color, 30%); } // punctuation
  .s, .sc      { color: hsl(40, 100%, 40%); } // string
  .m           { color: hsl(270, 60%, 60%); } // number
}