<!DOCTYPE html>
<html>
  {{ include "head" with title = "All Code Snippets" }}
  <body>
    <main>
      {{ include "header" with title = "All Code Snippets" }}
<article>
<h1>All Code Snippets</h1>
<nav>&nbsp;</nav>
{{ for post in code_posts }}
  <h3><a href="{{ post.post.url }}">{{ post.post.title }}</a></h3>
  {{ let language = "unknown" }}
  {{ for snippet in post.snippets }}
    {{ if snippet.language != language }}
      <p><strong>{{ snippet.language }}:</strong></p>
      {{ set language = snippet.language }}
    {{ end }}
    {{ snippet.code }}
  {{ end }}
{{ end }}
</article>
      {{ include "footer" }}
    </main>
  </body>
 </html>
