<!DOCTYPE html>
<html>
{{ include "head" with title = "All Code" }}
<body>
<div class="column">
  <article>
    <header>
    <h1>All Code</h1>
    </header>
<h4><a href="/archive">Archive</a></h4>
{{ for post in code_posts }}
  <h3><a href="{{ post.post.url }}">{{ post.post.title }}</a></h3>
  {{ let language = "unknown" }}
  {{ for snippet in post.snippets }}
    {{ if snippet.language != language }}
      <p><strong>{{ snippet.language }}:</strong></p>
      {{ set language = snippet.language }}
    {{ end }}
    {{ snippet.code }}
  {{ end }}
{{ end }}
  </article>
  {{ include "nav" }}
</div>
</body>
</html>
