<div class="post-thread">
  {{ if older_post }}
    <div>
      <a href="/{{ older_post.url }}/"
         title="Older Post &ldquo;{{ older_post.title }}&rdquo;">&lt; prev</a>
    </div>
  {{ end }}
  <div>
    <a href="/archive">archive</a>
  </div>
  {{ if newer_post }}
    <div>
      <a href="/{{ newer_post.url }}/"
         title="Newer Post &ldquo;{{ newer_post.title }}&rdquo;">next &gt;</a>
    </div>
  {{ end }}
</div>
<article>
<h1>
  <a href="/{{ post.url }}/" rel="bookmark"
     title="Permanent Link to {{ post.title }}">
    {{ post.title }}
  </a>
</h1>
<nav>
  <div class="date">
    {{ if older_post }}
    <span class="thread-narrow"><a href="/{{ older_post.url }}/"
       title="Older Post &ldquo;{{ older_post.title }}&rdquo;">&lt;</a></span>
    {{ end }}
    <a href="/archive">{{ to_lower(format_date(post.date, "MMMM dd, y")) }}</a>
    {{ if newer_post }}
    <span class="thread-narrow"><a href="/{{ newer_post.url }}/"
       title="Newer Post &ldquo;{{ newer_post.title }}&rdquo;">&gt;</a></span>
    {{ end }}
  </div>
  <div class="tags">
    {{ for tag in post.tags }}
      <a href="/category/{{ tag }}">{{ tag }}</a>
    {{ between }} |
    {{ end }}
  </div>
</nav>
{{ post.content }}
<div class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'journal-stuffwithstuff';
      var disqus_url = "https://journal.stuffwithstuff.com/{{ post.url }}/";

      (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</article>
